<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>com.verygoodbook.web.VisitorsCounterListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>HellowServlet</servlet-name>
        <servlet-class>com.verygoodbook.view.HellowServlet</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>王老先生有塊地，咿呀咿呀優!</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageCheckServlet</servlet-name>
        <servlet-class>com.verygoodbook.view.ImageCheckServlet</servlet-class>
        <init-param>
            <param-name>length</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegisterImageCheckServlet</servlet-name>
        <servlet-class>com.verygoodbook.view.ImageCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterImageCheckServlet</servlet-name>
        <url-pattern>/images/register_check.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HellowServlet</servlet-name>
        <url-pattern>/hello.view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HellowServlet2</servlet-name>
        <servlet-class>com.verygoodbook.view.HellowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HellowServlet2</servlet-name>
        <url-pattern>/hello.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCheckServlet</servlet-name>
        <url-pattern>/images/check.jpg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
